<div class="log">
<h1>Welcome <%= @user %>!</h1>
<hr>
<br>

<h3 class="recent">Recent Listing articles</h3>
 
<ul>
  <% @articles.each do |article| %>
    <li>

    <%= link_to article.title,  article_path(article.id) %>
    </li>
  <% end %>
</ul>


<%= link_to 'New article', new_article_path %>
</div>