<h1>Welcome !</h1>
<p><%= @user %></p>

<h1>Listing articles</h1>
 
<ul>
  <% @articles.each do |article| %>
    <li>
   <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>


<%= link_to 'New article', new_article_path %>
<%= link_to '', '/users/sign_up'%>