
<div class="jumbo">
<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">

  <li><a data-weight="4" href="/welcome/tag" value="Read">Read</a></li>
  <li><a data-weight="2" href="/welcome/tag" value="Relate">Relate</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Story">Story</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Observe">Observe</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="Turn">Turn</a></li>
  <li><a data-weight="4" href="/welcome/tag" value="Write">Write</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Create">Create</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="Change">Change</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Rest">Rest</a></li>
  <li><a data-weight="9" href="/welcome/tag" value="Share">Share</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Develop">Develop</a></li>
  <li><a data-weight="7" href="/welcome/tag" value="Dream">Dream</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Understand">Understand</a></li>
  <li><a data-weight="1" href="/welcome/tag" value="Move">Move</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Less">Less</a></li>
  <li><a data-weight="9" href="/welcome/tag" value="Relate">Relate</a></li>
  <li><a data-weight="2" href="/welcome/tag" value="Reflect">Reflect</a></li>
  <li><a data-weight="7" href="/welcome/tag" value="Impact">Impact</a></li>

  <li><a data-weight="1" href="/welcome/tag" value="Matter">Matter</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="History">History</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Write">Write</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Impact">Impact</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="Move">Move</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Rest">Rest</a></li>
  <li><a data-weight="9" href="/welcome/tag" value="Free">Free</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Reflect">Reflect</a></li>
  <li><a data-weight="7" href="/welcome/tag" value="Respond">Respond</a></li>
  <li><a data-weight="4" href="/welcome/tag" value="Connect">Connect</a></li>
  <li><a data-weight="1" href="/welcome/tag" value="Give">Give</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Learn">Learn</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Live">Live</a></li>
  <li><a data-weight="4" href="/welcome/tag" value="Read">Read</a></li>
  <li><a data-weight="2" href="/welcome/tag" value="Pause">Pause</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Story">Story</a></li>
  <li><a data-weight="7" href="/welcome/tag" value="Difference">Difference</a></li>

  <li><a data-weight="6" href="/welcome/tag" value="Develop">Develop</a></li>
  <li><a data-weight="4" href="/welcome/tag" value="Write">Write</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Time">Time</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Defy">Defy</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="People">People</a></li>
  <li><a data-weight="7" href="/welcome/tag" value="World">World</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Inform">Inform</a></li>
  <li><a data-weight="9" href="/welcome/tag" value="Impact">Impact</a></li>
  <li><a data-weight="4" href="/welcome/tag" value="Reflect">Reflect</a></li>
  <li><a data-weight="1" href="/welcome/tag" value="Forget">Forget</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Remember">Remember</a></li>
  <li><a data-weight="9" href="/welcome/tag" value="Pause">Pause</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Imagine">Imagine</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="Love">Love</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Give">Give</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Art">Art</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="Change">Change</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Rest">Rest</a></li>

  <li><a data-weight="9" href="/welcome/tag" value="Wonder">Wonder</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Explore">Explore</a></li>
  <li><a data-weight="7" href="/welcome/tag" value="Pen">Pen</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Connect">Connect</a></li>
  <li><a data-weight="1" href="/welcome/tag" value="Collect">Collect</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Think">Think</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Defy">Defy</a></li>
  <li><a data-weight="1" href="/welcome/tag" value="Comfort">Comfort</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Travel">Travel</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Journal">Journal</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Quest">Quest</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="Intrigue">Intrigue</a></li>
  <li><a data-weight="4" href="/welcome/tag" value="Suspense">Suspense</a></li>
  <li><a data-weight="5" href="/welcome/tag" value="Kindness">Kindness</a></li>
  <li><a data-weight="6" href="/welcome/tag" value="Defend">Defend</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Paper">Paper</a></li>

  <li><a data-weight="9" href="/welcome/tag" value="Reason">Reason</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Explore">Explore</a></li>
  <li><a data-weight="7" href="/welcome/tag" value="Pen">Pen</a></li>
  <li><a data-weight="8" href="/welcome/tag" value="Ackonwledge">Ackonwledge</a></li>
  <li><a data-weight="1" href="/welcome/tag" value="Collect">Collect</a></li>
  <li><a data-weight="3" href="/welcome/tag" value="Think">Think</a></li>
</ul>

</div>
<div class="welcome_articles">

<h1>Published Articles</h1>
<h5>(Login to read)</h5>
<hr>
<ul>
  <% @articles.each do |article| %>
    <li>
   <%= article.title %> by <%= article.user&.name %>
    </li>
    <br>
  <% end %>
</ul>

</div>

