.recent{
    color: #33a;
}

#type {
height: 450px;

}

.typewritter{
    height: 450px;
    background-color: #726d67;
    display: flex;
    flex-direction: row;
}

.user_articles{
    color: white; 
    
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: right;
    padding-left: 20px;
}

.my_articles{
    color: white; 
}